@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 1000px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px 100px;
    transition: 0.6s;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header.sticky .logo {
    color: #000;
}

header.sticky a {
    color: #000;
    font-weight: 600;
}

.logo {
    position: relative;
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: 8px;
    text-transform: uppercase;
    transition: 0.6s;
}

header ul {
    display: flex;
    position: relative;
}

header ul li {
    position: relative;
    margin-left: 30px;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 4px;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../img/b.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: bottom;
}

.banner .banner-content {
    font-size: 4rem;
    color: rgb(1, 255, 213);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.banner .banner-content span {
    color: #4978ff;
}


/* About */

.about {
    padding: 100px 200px;
    text-align: center;
    min-height: 100vh;
    background: rgb(90, 140, 168);
}

.about .content {
    width: 100%;
}

.mxw800p {
    max-width: 800px;
    margin: 0 auto;
}

.about .about-content {
    font-size: 3rem;
    letter-spacing: 3px;
    color: rgb(71, 65, 65);
}

.about .about-text {
    position: relative;
    font-size: 1.2rem;
    margin-top: 10px;
    line-height: 1.4;
    letter-spacing: 1px;
}

.about input {
    border: 0;
    outline: none;
    background: black;
    color: #fff;
    margin-top: 30px;
    min-width: 300px;
    height: 46px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
}

.about input:hover {
    opacity: 0.8;
}

.services {
    padding: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.services .content {
    padding: 50px;
}

.services .content h2 {
    font-size: 3rem;
    letter-spacing: 3px;
    color: rgb(71, 65, 65);
}

.services .content p {
    font-size: 1.2rem;
    margin-top: 10px;
    line-height: 1.4;
    letter-spacing: 1px;
}

.services .imgBx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.services .imgBx .imgBx-wrap {
    width: 250px;
    padding: 20px;
    margin: 0 30px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: #fff;
    min-height: 320px;
}

.services .imgBx .imgBx-wrap img {
    width: 80px;
}

.services .imgBx .imgBx-wrap h2 {
    text-transform: uppercase;
    margin: 10px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 900;
}

.services .imgBx .imgBx-wrap p {
    font-size: 1rem;
    line-height: 1.4;
}

.start {
    padding: 100px;
    text-align: center;
    background: #000;
    padding-top: 250px;
    margin-top: -250px;
}

.start .content {
    margin: 20px;
}

.start .content h2 {
    font-size: 3rem;
    letter-spacing: 3px;
    color: #fff;
}

.start .content p {
    font-size: 1.2rem;
    margin-top: 10px;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #fff;
}

.start .start-product-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.start .start-product-list h3 {
    font-size: 1.6rem;
    color: #fff;
}

.start .start-product-list p {
    text-transform: uppercase;
    margin-top: 5px;
    color: #fff;
}

.portfolio {
    padding: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio .content {
    margin: 50px;
}

.content h2 {
    font-size: 3rem;
    letter-spacing: 3px;
    color: rgb(75, 67, 67);
}

.content p {
    font-size: 1.2rem;
    margin-top: 10px;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #000;
}

.portfolio-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: rows;
}

.portfolio-box .portfolio-box-list {
    margin: 5px;
    width: 250px;
    height: 300px;
    background: rgb(24, 83, 160);
    margin-top: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_member {
    max-height: 300px;
    position: relative;
    width: 100%;
}

.portfolio-box .portfolio-box-list p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    color: rgba(197, 186, 186, 0.918);
    position: absolute;
    opacity: 0;
    transition: .4s;
}

.portfolio-box .portfolio-box-list:hover p {
    color: rgb(1, 255, 213);
    opacity: 1;
}

.team {
    padding: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team .content {
    margin: 0 100px;
}

.team-list {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.member {
    position: relative;
    min-height: 300px;
    width: 200px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.member .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background: #000;
    opacity: 0;
}

.member .details:hover h2,
.member .details:hover {
    opacity: 1;
    color: #fff;
}

.team-list img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details h2 {
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.details h2 span {
    font-weight: 300;
    font-size: 1rem;
}

.contact {
    padding: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
}

.contact p,
.contact h2 {
    color: #fff;
}

.contact-form {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.form-name-email {
    display: flex;
    width: 100%;
}

.form-name {
    width: 50%;
}

.form-name:first-child {
    margin-right: 10px;
}

.form-name:last-child {
    margin-left: 10px;
}

.form-name input {
    width: 100%;
    outline: none;
    border: none;
    height: 46px;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 3px solid rgb(61, 55, 55);
    background: transparent;
}

.form-name input[type="text"] {
    color: #fff;
    font-size: 1.2rem;
}

.form-message {
    margin-top: 40px;
    width: 100%;
}

.form-message textarea {
    width: 100%;
    height: 46px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 2px solid rgb(61, 55, 55);
    background: transparent;
}

.form-message textarea[type="text"] {
    color: #fff;
    font-size: 1.2rem;
}

.form-submit {
    width: 100%;
}

.form-submit input {
    width: 160px;
    height: 46px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}

.form-submit input:hover {
    opacity: 0.8;
}

.contact-social {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 60px;
}

.contact-social img {
    filter: invert(1);
    width: 36px;
    cursor: pointer;
    transition: 0.6s;
}

.contact-social img:hover {
    opacity: 0.4;
}

.contact-des {
    margin-top: 60px;
    width: 100%;
}

.des {
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 10px;
    text-align: center;
}

.toggle {
    display: none;
}